<div class="row">
  <div class="col-sm-offset-4 col-sm-4">
    <%= bootstrap_devise_error_messages! %>
    <div class="panel panel-default devise-bs">
      <div class="panel-heading">
        <!--<h4><%= t('.sign_up', default: '注册新用户') %></h4>-->
        <h4 class="text-center">注册新用户</h4>
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form' }) do |f| %>
          <div class="form-group">
            <%= f.label "邮箱" %>
            <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          </div>
          <!--本项目添加的字段start  , placeholder="姓名(选填)" , value="1" -->
          <div class="form-group">
            <%= f.label '姓名' %>
            <%= f.text_field :name, class: 'form-control'  %>
          </div>
          <div class="form-group">
            <%= f.label '角色类型(1为普通用户)' %>
            <%= f.text_field :role, class: 'form-control', value: "1", disabled: "true" %>
          </div>
           <!--本项目添加的字段END-->
          <div class="form-group">
            <%= f.label "密码" %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label "确认密码" %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
          <!--<%= f.submit t('.sign_up', default: 'Sign up'), class: 'btn btn-primary' %>-->
          <%= f.submit '注册' , class: 'btn btn-primary btn-block' %>
        <% end %>
      </div>
    </div>
    <%= render 'devise/shared/links' %>
  </div>
</div>