<%= form_for @card, html: {class: 'form-horizontal', role: 'form'} do |f| %>

    <div class="form-group">
      <%= f.label "内容", class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></div>
          <%= f.text_field :content, class: 'form-control', placeholder: "输入内容" %>
        </div>
      </div>
    </div>


    <%= f.submit '提交', class: "btn btn-success btn-block" %>
    <%= link_to '取消', cards_path, :class => "btn btn-default btn-block" %>

<% end %>