<div class="container">
  <div class="col-sm-offset-4 col-sm-4">
    <!--<% flash.each do |message_type, message| %>-->
        <!--<div class="alert alert-<%= message_type %>">-->
        <!--  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
        <!--  <strong> <%= message %></strong>-->
        <!--</div>-->
        <!--<div class="alert alert-dismissible alert-warning">-->
        <!--  <button  href="#" class="close" data-dismiss="alert" aria-label="close">&times;</button>-->
        <!--  <strong> <%= message %></br> <%= message_type %></strong>-->
        <!--</div>-->
        
    <!--<% end %>-->
    
    <% if flash[:notice] %>
      <div class="alert alert-dismissible alert-info">
        <button  href="#" class="close" data-dismiss="alert" aria-label="close">&times;</button>
        <strong> <%= flash[:notice] %></strong>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-dismissible alert-info">
        <button  href="#" class="close" data-dismiss="alert" aria-label="close">&times;</button>
        <strong> <%= flash[:alert] %></strong>
      </div>
    <% end %>
  </div>
</div>

<%= yield %>


