<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <%= link_to "雁栖食客", root_path, class: 'navbar-brand' %>
    </div>
    

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

        <!--<li class=<%= "active" if params[:controller]=="homes" %>> <%= link_to "主页", root_path %></li>-->
        <!--<li><a href="#">主页</a></li>-->
        <li><%= link_to( "收藏夹" , listzan_statuses_path, class: 'btn btn-xs') %></li>
        <!--<li><a href="javascript:void(0)" onclick="play_danmu()" target="_blank">弹幕</a></li>-->
        <% if user_signed_in? %>
          <!--以下两种写法效果相同，第二种block中可以添加多个元素-->
          <li> 
          <%= link_to( "#{current_user.name}的主页" , profile_index_path, class: 'btn btn-xs') %>
          </li>
          <% if current_user.role==0%>
          <li>
          <%= link_to"美食管理", foods_path, class: 'btn btn-xs' %>
          </li>
          <li>
          <%= link_to"商家管理", merchants_path, class: 'btn btn-xs' %>
          </li>
          <li>
          <%= link_to"广告管理", banners_path, class: 'btn btn-xs' %>
          </li>
          <li>
          <%= link_to"标签管理", tags_path, class: 'btn btn-xs' %>
          </li>
          <% end %>
          
          <!--<li> -->
          <!--  <%= link_to profile_index_path , class: 'btn btn-xs' do %>-->
          <!--    <%= current_user.name %>的主页-->
          <!--  <% end %>-->
          <!--</li>-->
        <% end %>

      </ul>
      
      <!--Search部分-->
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
        <!--原宽度为450-->
        <% if current_user!=nil and current_user.role==0 %>
          <input type="text" class="form-control" style="width: 250px; height:46px;" placeholder="搜索全站内容">
        <% else %>
          <input type="text" class="form-control" style="width: 450px; height:46px;" placeholder="搜索全站内容">
        <% end %>
        </div>
        <!--<button type="submit" class="btn btn-default" " >Submit</button>-->
      </form>
      <!--Search 部分 end-->

      <ul class="nav navbar-nav navbar-right" >
          
        <!--<% if user_signed_in? %>-->
        <!--    hello, <%= current_user.name %>! You are <%= current_user.role %>-->
        <!--    <%= link_to('登出', destroy_user_session_path, :method => :delete) %>-->
        <!--<% else %>-->
        <!--    <%= link_to('注册', new_registration_path(:user)) %>-->
        <!--    <%= link_to('登录', new_session_path(:user)) %>-->
        <!--<% end %>-->

        <!--此处修改注册信息-->
        <% if current_user %>
        
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
                  <span class="glyphicon glyphicon-user"></span>  <%= current_user.name %>  
            <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li>
              <%= link_to edit_user_registration_path(current_user) do %>
                  修改密码
              <% end %>
              </li>
              <!--<li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>-->
            </ul>
          </li>
        
        
           <!-- <li>
              <%= link_to edit_user_registration_path(current_user) do %>
                  <%= current_user.name %><span class="glyphicon glyphicon-user"></span>
              <% end %>
            </li>-->

            <!--<li>
              <p class="navbar-text"><%= current_user.name %></p>
            </li>-->

            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                  退出 <span class="	glyphicon glyphicon-off"></span>
              <% end %>
            </li>

        <% else %>

            <li><%= link_to new_user_session_path do %>
                  登录 <span class="	glyphicon glyphicon-user"></span>
              <% end %>
            </li>

            <li><%= link_to new_registration_path(:user) do %>
                  注册 <span class="	glyphicon glyphicon-log-in"></span>
              <% end %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>



