<!DOCTYPE html>
<html>
<head>
  <title>雁栖食客</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
	<meta name="viewport" content="width=device-width">
	
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= csrf_meta_tags %>
	
</head>
  <!--<div class="header">-->
  <!--  <p class="header">雁栖食客</p>-->
  <!--</div>-->
<body class="<%= "body-background" if params[:controller]!="homes" %>">
  <!--<p class="notice"><%= notice %></p>  -->
  <!--<p class="alert"><%= alert %></p>  -->
  <%= render partial: 'layouts/header' %>
  <%= render partial: 'layouts/content' %>
  <%= render partial: 'layouts/footer' %>
  
  
<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<script src="js/jquery.event.move.js"></script>
<script src="js/jquery.event.swipe.js"></script>

<script src="js/unslider.min.js"></script>
<script>
    if(window.chrome) {
        $('.banner li').css('background-size', '100% 100%');
    }

    $('.banner').unslider({
        arrows: true,
        fluid: true,
        dots: true
    });

    //  Find any element starting with a # in the URL
    //  And listen to any click events it fires
    $('a[href^="#"]').click(function() {
        //  Find the target element
        var target = $($(this).attr('href'));

        //  And get its position
        var pos = target.offset(); // fallback to scrolling to top || {left: 0, top: 0};

        //  jQuery will return false if there's no element
        //  and your code will throw errors if it tries to do .offset().left;
        if(pos) {
            //  Scroll the page
            $('html, body').animate({
                scrollTop: pos.top,
                scrollLeft: pos.left
            }, 1000);
        }

        //  Don't let them visit the url, we'll scroll you there
        return false;
    });

</script>
</body>
</html>
